In [1]:
import pandas as pd

In [2]:
#read data from csv file 
df_sentiment = pd.read_csv('http://localhost:8888/edit/self%20learning/1574413716_lesson92/Lesson%209%20-%202/imdb_labelled.txt',sep='\t',names=['comment','label'])

In [3]:
df_sentiment.head(10)

                                             comment  label
0                                    <!DOCTYPE HTML>    NaN
1                                             <html>    NaN
2                                             <head>    NaN
3                             <meta charset="utf-8">    NaN
4                    <title>Jupyter Notebook</title>    NaN
5      <link id="favicon" rel="shortcut icon" typ...    NaN
6      <meta http-equiv="X-UA-Compatible" content...    NaN
7      <link rel="stylesheet" href="/static/compo...    NaN
8      <link rel="stylesheet" href="/static/compo...    NaN
9      <meta name="viewport" content="width=devic...    NaN

In [4]:
df_sentiment.describe()

       label
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN

In [5]:
df_sentiment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217 entries, 0 to 216
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   comment  217 non-null    object
 1   label    0 non-null      float64
dtypes: float64(1), object(1)
memory usage: 3.5+ KB

In [6]:
df_sentiment.groupby('label').describe()

Series([], dtype: float64)

In [11]:
#view data statistics using describe()
df_sentiment['length'] =df_sentiment['comment'].apply(len)

In [8]:
#view columns of the dataset
df_sentiment.head()

                               comment  label  length
0                      <!DOCTYPE HTML>    NaN      15
1                               <html>    NaN       6
2                               <head>    NaN       6
3               <meta charset="utf-8">    NaN      26
4      <title>Jupyter Notebook</title>    NaN      35

In [12]:
#view first 
df_sentiment[df_sentiment['length']>50]['comment'].iloc[0]

'    <link id="favicon" rel="shortcut icon" type="image/x-icon" href="/static/base/images/favicon.ico?v=50afa725b5de8b00030139d09b38620224d4e7dba47c07ef0e86d4643f30c9bfe6bb7e1a4a1c561aa32834480909a4b6fe7cd1e17f7159330b6b5914bf45a880">'

In [13]:
#Count number of records
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()

In [14]:
#view datatypes
def message_text_process(mess):
    # Check characters to see if there are punctuations
    no_punctuation = [char for char in mess if char not in string.punctuation]
    # now form the sentence.
    no_punctuation = ''.join(no_punctuation)
    # Now eliminate any stopwords
    return [word for word in no_punctuation.split() if word.lower() not in stopwords.words('english')]

In [15]:
#select FDNY information boroughwise
# bag of words by applying the function and fit the data (comment) into it
import string
from nltk.corpus import stopwords
bag_of_words = CountVectorizer(analyzer=message_text_process).fit(df_sentiment['comment'])

ModuleNotFoundError: No module named 'nltk'

In [ ]:
#view FDNY informationn for each borough

In [ ]:
#select FDNY information for Manhattan